:root {
  --appui-panel-bottom-alert-height: 40px;
  --appui-panel-bottom-alert-width: 100%;
  --appui-panel-bottom-info-height: 40px;
  --appui-panel-bottom-info-width: 100%;
  --appui-panel-bottom-menu-height: 40px;
  --appui-panel-bottom-menu-width: 100%;
  --appui-panel-left-info-height: 100%;
  --appui-panel-left-info-width: 120px;
  --appui-panel-left-menu-height: 100%;
  --appui-panel-left-menu-width: 120px;
  --appui-panel-right-info-height: 100%;
  --appui-panel-right-info-width: 120px;
  --appui-panel-right-menu-height: 100%;
  --appui-panel-right-menu-width: 120px;
  --appui-panel-top-alert-height: 40px;
  --appui-panel-top-alert-width: 100%;
  --appui-panel-top-info-height: 40px;
  --appui-panel-top-info-width: 100%;
  --appui-panel-top-menu-height: 40px;
  --appui-panel-top-menu-width: 100%;
}

.AppUI-Panel {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.AppUI-Panel.is-hidden {
  display: none;
}

.AppUI-Panel--body {
  grid-column: body-start / body-end;
  grid-row: body-start / body-end;
}

.AppUI-Panel--bottom-info {
  grid-column: bottom-info-start / bottom-info-end;
  grid-row: bottom-info-start / bottom-info-end;
  height: var(--appui-panel-bottom-info-height);
  width: var(--appui-panel-bottom-info-width);
}

.AppUI-Panel--bottom-menu {
  grid-column: bottom-menu-start / bottom-menu-end;
  grid-row: bottom-menu-start / bottom-menu-end;
  height: var(--appui-panel-bottom-info-height);
  width: var(--appui-panel-bottom-info-width);
}

.AppUI-Panel--bottom-alert {
  grid-column: bottom-alert-start / bottom-alert-end;
  grid-row: bottom-alert-start / bottom-alert-end;
  height: var(--appui-panel-bottom-info-height);
  width: var(--appui-panel-bottom-info-width);
}

.AppUI-Panel--left-menu {
  grid-column: left-menu-start / left-menu-end;
  grid-row: left-menu-start / left-menu-end;
  height: var(--appui-panel-left-menu-height);
  width: var(--appui-panel-left-menu-width);
}

.AppUI-Panel--left-info {
  grid-column: left-info-start / left-info-end;
  grid-row: left-info-start / left-info-end;
  height: var(--appui-panel-left-info-height);
  width: var(--appui-panel-left-info-width);
}

.AppUI-Panel--right-menu {
  grid-column: right-menu-start / right-menu-end;
  grid-row: right-menu-start / right-menu-end;
  height: var(--appui-panel-right-menu-height);
  width: var(--appui-panel-right-menu-width);
}

.AppUI-Panel--right-info {
  grid-column: right-info-start / right-info-end;
  grid-row: right-info-start / right-info-end;
  height: var(--appui-panel-right-info-height);
  width: var(--appui-panel-right-info-width);
}

.AppUI-Panel--top-alert {
  grid-column: top-alert-start / top-alert-end;
  grid-row: top-alert-start / top-alert-end;
  height: var(--appui-panel-top-alert-height);
  width: var(--appui-panel-top-alert-width);
}

.AppUI-Panel--top-info {
  grid-column: top-info-start / top-info-end;
  grid-row: top-info-start / top-info-end;
  height: var(--appui-panel-top-info-height);
  width: var(--appui-panel-top-info-width);
}

.AppUI-Panel--top-menu {
  grid-column: top-menu-start / top-menu-end;
  grid-row: top-menu-start / top-menu-end;
  height: var(--appui-panel-top-menu-height);
  width: var(--appui-panel-top-menu-width);
}
