.AppUI-Row {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.AppUI-Row--top {
    grid-column: row-top-start / row-top-end;
    grid-row: row-top-start / row-top-end;
}

.AppUI-Row--bottom {
    grid-column: column-start / column-end;
    grid-row: row-bottom-start / row-bottom-end;
}